openapi: 3.0.1
info:
  title: NVA Approval API
  description: API for managing approval records with persistent handle identifiers
  version: 1.0.0
  contact:
    email: kontakt@sikt.no
    url: https://nva.sikt.no
servers:
  - url: https://api.nva.unit.no/approval
  - url: https://api.test.nva.aws.unit.no/approval
  - url: https://api.sandbox.nva.aws.unit.no/approval
  - url: https://api.dev.nva.aws.unit.no/approval
tags:
  - name: Approval
    description: Operations for managing approvals
  - name: external
    description: Endpoints exposed in external API documentation
x-amazon-apigateway-request-validator: validate_body
x-amazon-apigateway-request-validators:
  validate_body:
    validateRequestBody: true
    validateRequestParameters: false
paths:
  /:
    post:
      tags:
        - Approval
        - external
      operationId: createApproval
      summary: Create Approval
      description: Create approval
      parameters:
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            default: application/json
      x-amazon-apigateway-request-validator: validate_body
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApprovalRequest'
      security:
        - CognitoUserPool: [ 'https://api.nva.unit.no/scopes/third-party/approval-upsert', 'https://api.nva.unit.no/scopes/backend' ]
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaCreateApprovalFunction.Arn}/invocations
        responses: { }
        httpMethod: POST
        type: AWS_PROXY
      responses:
        '202':
          description: Approval accepted
          headers:
            Location:
              description: URI of the created Approval
              schema:
                type: string
                format: uri
            Retry-After:
              description: Number of seconds to wait before checking the approval
              schema:
                type: integer
        '400':
          description: Bad Request
          content:
            "application/json":
              schema:
                $ref: '#/components/schemas/Problem'
        '409':
          description: Conflict
          content:
            "application/json":
              schema:
                $ref: '#/components/schemas/Problem'
        '502':
          description: Bad gateway
          content:
            "application/json":
              schema:
                $ref: '#/components/schemas/Problem'
    get:
      tags:
        - Approval
        - external
      operationId: getApprovalByQuery
      summary: Get Approval by handle or named identifier
      description: |
        Get approval by handle or named identifier (name+value).

        **Query Parameters:**
        - Use `handle` parameter to fetch by Handle URI (must be URL-encoded)
        - Use `name` AND `value` parameters together to fetch by named identifier

        **Important:** Special characters in query parameters must be URL-encoded.

        **Example queries:**
        - By handle: `/approval?handle=https%3A%2F%2Fhdl.handle.net%2F11250.1%2F12345`
        - By identifier: `/approval?name=REK&value=2024%2F123`

        **Note:** You must provide either `handle` OR both `name` and `value`. Providing both or incomplete identifier parameters will return 400 Bad Request.
      parameters:
        - name: handle
          in: query
          description: Handle URI to look up (e.g., https://hdl.handle.net/11250.1/12345)
          schema:
            type: string
            format: uri
        - name: name
          in: query
          description: Identifier name (required when using value parameter)
          schema:
            type: string
        - name: value
          in: query
          description: Identifier value (required when using name parameter)
          schema:
            type: string
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaFetchApprovalFunction.Arn}/invocations
        responses: { }
        httpMethod: POST
        type: AWS_PROXY
      responses:
        '200':
          description: Approval found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Approval'
        '400':
          description: Bad Request - invalid query parameters or missing required parameters
          content:
            "application/json":
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: Approval not found
          content:
            "application/json":
              schema:
                $ref: '#/components/schemas/Problem'
        '502':
          description: Bad gateway
          content:
            "application/json":
              schema:
                $ref: '#/components/schemas/Problem'
  /context:
    get:
      tags:
        - Approval
        - external
      operationId: getContext
      summary: Get JSON-LD Context
      description: Returns the JSON-LD context for the Approval API
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaFetchContextFunction.Arn}/invocations
        responses: { }
        httpMethod: POST
        type: AWS_PROXY
      responses:
        '200':
          description: JSON-LD context
          content:
            application/ld+json:
              schema:
                type: object
            application/json:
              schema:
                type: object
  /ontology:
    get:
      tags:
        - Approval
        - external
      operationId: getOntology
      summary: Get RDF Ontology
      description: Returns the RDF ontology (Turtle format) for the Approval API
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaFetchOntologyFunction.Arn}/invocations
        responses: { }
        httpMethod: POST
        type: AWS_PROXY
      responses:
        '200':
          description: RDF ontology in Turtle format
          content:
            text/turtle:
              schema:
                type: string
  /{approvalId}:
    get:
      tags:
        - Approval
        - external
      operationId: getApprovalById
      summary: Get Approval
      description: Get approval by ID
      parameters:
        - name: approvalId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaFetchApprovalFunction.Arn}/invocations
        responses: { }
        httpMethod: POST
        type: AWS_PROXY
      responses:
        '200':
          description: Approval found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Approval'
        '400':
          description: Bad Request
          content:
            "application/json":
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: Approval not found
          content:
            "application/json":
              schema:
                $ref: '#/components/schemas/Problem'
        '502':
          description: Bad gateway
          content:
            "application/json":
              schema:
                $ref: '#/components/schemas/Problem'
    put:
      tags:
        - Approval
        - external
      operationId: updateApproval
      summary: Update Approval
      description: Update approval
      parameters:
        - name: approvalId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateApprovalRequest'
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaUpdateApprovalFunction.Arn}/invocations
        responses: { }
        httpMethod: POST
        type: AWS_PROXY
      responses:
        '202':
          description: Approval accepted
          headers:
            Location:
              description: URI of the updated Approval
              schema:
                type: string
                format: uri
            Retry-After:
              description: Number of seconds to wait before checking the approval
              schema:
                type: integer
        '400':
          description: Bad Request
          content:
            "application/json":
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: Approval not found
          content:
            "application/json":
              schema:
                $ref: '#/components/schemas/Problem'
        '409':
          description: Conflict
          content:
            "application/json":
              schema:
                $ref: '#/components/schemas/Problem'
        '502':
          description: Bad gateway
          content:
            "application/json":
              schema:
                $ref: '#/components/schemas/Problem'
components:
  schemas:
    CreateApprovalRequest:
      type: object
      required:
        - identifiers
        - source
      properties:
        type:
          type: string
          default: Approval
        identifiers:
          type: array
          items:
            $ref: '#/components/schemas/Identifier'
          minItems: 1
          description: List of identifiers for the approval
        source:
          type: string
          format: uri
          description: URI of the source approval
      example:
        type: Approval
        identifiers:
          - type: Identifier
            name: REK
            value: "2024/123"
          - type: Identifier
            name: DMP
            value: "dmp-456"
        source: https://example.com/source/12345
    UpdateApprovalRequest:
      type: object
      required:
        - identifiers
      properties:
        identifiers:
          type: array
          items:
            $ref: '#/components/schemas/Identifier'
          minItems: 1
          description: List of identifiers for the approval
    Problem:
      type: object
      description: NVA error reporting object
      required:
        - title
        - detail
        - status
      properties:
        title:
          type: string
          description: Human-readable description of the error status
        detail:
          type: string
          description: A more detailed error message describing the error and potential mitigations
        status:
          type: integer
          description: The HTTP status code associated with the problem
        requestId:
          type: string
          description: Identifier of the request causing the problem
        conflictingKeys:
          type: object
          additionalProperties:
            type: string
          description: Map of conflicting identifier keys and their values (only present on 409 Conflict responses)
    Approval:
      type: object
      description: An approval for associating a persistent handle identifier with a source URI
      properties:
        '@context':
          type: string
          format: uri
          description: JSON-LD context URI for this resource
        type:
          type: string
          default: Approval
          description: The type discriminator for this object
        id:
          type: string
          format: uri
          description: The full URI of this approval resource
        identifier:
          type: string
          format: uuid
          description: Unique identifier for this approval
        identifiers:
          type: array
          description: List of identifiers associated with this approval. Each identifier needs to be unique across all approvals.
          items:
            $ref: '#/components/schemas/Identifier'
        source:
          type: string
          format: uri
          description: The source URI that the handle originates from
        handle:
          type: string
          format: uri
          description: The full handle URI (e.g., https://hdl.handle.net/11250.1/12345)
      example:
        '@context': https://api.nva.unit.no/approval/context
        type: Approval
        id: https://api.nva.unit.no/approval/6ff5f1b5-97c1-40f0-86ad-2cbd9006eee2
        identifier: 6ff5f1b5-97c1-40f0-86ad-2cbd9006eee2
        identifiers:
          - type: Identifier
            name: REK
            value: "2024/123"
        source: https://example.com/source/12345
        handle: https://hdl.handle.net/11250.1/98765
    Identifier:
      type: object
      description: A named identifier that can be used to look up or reference an approval
      required:
        - type
        - name
        - value
      properties:
        type:
          type: string
          default: Identifier
          description: The type discriminator for this object
        name:
          type: string
          description: The name or category of the identifier (e.g., 'doi', 'isbn')
        value:
          type: string
          description: The actual identifier value
  securitySchemes:
    CognitoUserPool:
      type: apiKey
      name: Authorization
      in: header
      x-amazon-apigateway-authtype: cognito_user_pools
      x-amazon-apigateway-authorizer:
        type: cognito_user_pools
        providerARNs:
          - Ref: CognitoAuthorizerArn
          - Ref: ExternalCognitoAuthorizerArn
