openapi: 3.0.1
info:
  title: NVA Approval API
  description: API for managing approval records with persistent handle identifiers
  version: 1.0.0
  contact:
    email: kontakt@sikt.no
    url: https://nva.sikt.no
servers:
  - url: https://api.nva.unit.no/approval
  - url: https://api.test.nva.aws.unit.no/approval
  - url: https://api.sandbox.nva.aws.unit.no/approval
  - url: https://api.dev.nva.aws.unit.no/approval
tags:
  - name: Approval
    description: Operations for managing approvals
  - name: external
    description: Endpoints exposed in external API documentation
x-amazon-apigateway-request-validator: validate_body
x-amazon-apigateway-request-validators:
  validate_body:
    validateRequestBody: true
    validateRequestParameters: false
  no_validation:
    validateRequestBody: false
    validateRequestParameters: false
paths:
  /:
    post:
      tags:
        - Approval
        - external
      operationId: createApproval
      summary: Create Approval
      description: Create approval
      parameters:
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            default: application/json
      x-amazon-apigateway-request-validator: no_validation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateApprovalRequest"
      security:
        - CognitoUserPool:
            ["https://api.nva.unit.no/scopes/third-party/approval-upsert", "https://api.nva.unit.no/scopes/backend"]
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaCreateApprovalFunction.Arn}/invocations
        responses: {}
        httpMethod: POST
        type: AWS_PROXY
      responses:
        "202":
          description: Approval accepted
          headers:
            Location:
              description: URI of the created Approval
              schema:
                type: string
                format: uri
            Retry-After:
              description: Number of seconds to wait before checking the approval
              schema:
                type: integer
        "400":
          description: |-
            Bad Request. The request is rejected when:
            * the body is missing or invalid
            * `identifiers` is missing, empty or holds more than 20 identifiers
            * an identifier `name` is missing, longer than 100 characters, or contains anything
              but letters, digits, hyphen and underscore
            * an identifier `value` is missing or longer than 900 bytes when encoded as UTF-8
            * two identifiers share the same name and the same value. Names are compared ignoring
              case and surrounding whitespace, so `DMP` and ` dmp ` count as the same name, while
              values are compared exactly. Two identifiers sharing a name but holding different
              values are allowed
            * `source` is missing or longer than 1024 characters

            Every invalid field is listed in `errors`, with a JSON pointer to the field.
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/Problem"
        "401":
          description: Unauthorized - missing or invalid token, or the customer of the authenticated client could not be resolved
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/Problem"
        "403":
          description: Forbidden - one or more identifier names are not allowed for the customer of the client
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/Problem"
        "409":
          description: Conflict
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/Problem"
        "502":
          description: Bad gateway
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/Problem"
    get:
      tags:
        - Approval
        - external
      operationId: getApprovalByQuery
      summary: Get Approval by handle or named identifier
      description: |
        Get approval by handle or named identifier (name+value).

        **Query Parameters:**
        - Use `handle` parameter to fetch by Handle URI (must be URL-encoded)
        - Use `name` AND `value` parameters together to fetch by named identifier

        **Important:** Special characters in query parameters must be URL-encoded.

        **Example queries:**
        - By handle: `/approval?handle=https%3A%2F%2Fhdl.handle.net%2F11250.1%2F12345`
        - By identifier: `/approval?name=REK&value=123456`

        **Note:** You must provide either `handle` OR both `name` and `value`. Providing both or incomplete identifier parameters will return 400 Bad Request.
      parameters:
        - name: handle
          in: query
          description: Handle URI to look up (e.g., https://hdl.handle.net/11250.1/12345)
          schema:
            type: string
            format: uri
            maxLength: 1024
        - name: name
          in: query
          description: Identifier name (required when using value parameter)
          schema:
            type: string
            maxLength: 100
            pattern: "^\\s*[A-Za-z0-9_-]+\\s*$"
        - name: value
          in: query
          description: >-
            Identifier value (required when using name parameter). At most 900 bytes when encoded
            as UTF-8
          schema:
            type: string
            maxLength: 900
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaFetchApprovalFunction.Arn}/invocations
        responses: {}
        httpMethod: POST
        type: AWS_PROXY
      responses:
        "200":
          description: Approval found
          content:
            application/ld+json:
              schema:
                $ref: "#/components/schemas/Approval"
            application/json:
              schema:
                $ref: "#/components/schemas/Approval"
            text/html:
              schema:
                type: string
        "400":
          description: |-
            Bad Request. The request is rejected when:
            * no query parameters are given, or `handle` is combined with `name` / `value`
              (pointer `handle`)
            * only one of `name` and `value` is given (pointer to the missing one)
            * `handle` is not a handle URI of at most 1024 characters
            * `name` or `value` breaks the rules of an identifier

            Every invalid parameter is listed in `errors`, with the parameter name as pointer.
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/Problem"
        "404":
          description: Approval not found
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/Problem"
        "502":
          description: Bad gateway
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/Problem"
  /context:
    get:
      tags:
        - Approval
        - external
      operationId: getContext
      summary: Get current JSON-LD Context
      description: |
        Returns the current version of the JSON-LD context for the Approval API. The `Content-Location`
        header points to the versioned context that was returned. Approval responses always reference
        a versioned context, see `GET /context/{version}`.
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaFetchContextFunction.Arn}/invocations
        responses: {}
        httpMethod: POST
        type: AWS_PROXY
      responses:
        "200":
          $ref: "#/components/responses/Context"
  /context/{version}:
    get:
      tags:
        - Approval
        - external
      operationId: getContextVersion
      summary: Get a specific version of the JSON-LD Context
      description: |
        Returns a specific version of the JSON-LD context. A published version never changes, so a
        document referencing a version always expands to the same IRIs. Any change to the context,
        including added terms, is published as a new version (`v2`, `v3`, ...).
      parameters:
        - $ref: "#/components/parameters/ContextVersion"
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaFetchContextFunction.Arn}/invocations
        responses: {}
        httpMethod: POST
        type: AWS_PROXY
      responses:
        "200":
          $ref: "#/components/responses/Context"
        "404":
          $ref: "#/components/responses/VersionNotFound"
  /ontology:
    get:
      tags:
        - Approval
        - external
      operationId: getOntology
      summary: Get latest RDF Ontology
      description: |
        Returns the latest version of the RDF ontology (Turtle format) for the Approval API. The
        `Content-Location` header points to the versioned ontology that was returned.
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaFetchOntologyFunction.Arn}/invocations
        responses: {}
        httpMethod: POST
        type: AWS_PROXY
      responses:
        "200":
          $ref: "#/components/responses/Ontology"
  /ontology/{version}:
    get:
      tags:
        - Approval
        - external
      operationId: getOntologyVersion
      summary: Get a specific version of the RDF Ontology
      description: |
        Returns a specific version of the RDF ontology. The ontology uses semantic versioning and is
        identified by `owl:versionIRI`. The namespace and term IRIs are stable across versions; a
        published version never changes.
      parameters:
        - $ref: "#/components/parameters/OntologyVersion"
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaFetchOntologyFunction.Arn}/invocations
        responses: {}
        httpMethod: POST
        type: AWS_PROXY
      responses:
        "200":
          $ref: "#/components/responses/Ontology"
        "404":
          $ref: "#/components/responses/VersionNotFound"
  /events:
    post:
      tags:
        - Approval
        - external
      operationId: receiveApprovalEvent
      summary: Notify that the source of an approval has changed
      description: |
        Receives a change notification as a CloudEvent (version 1.0, structured JSON mode) telling
        NVA that the source of an approval has changed.
      x-amazon-apigateway-request-validator: no_validation
      parameters:
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            enum:
              - application/cloudevents+json
            default: application/cloudevents+json
      requestBody:
        required: true
        content:
          application/cloudevents+json:
            schema:
              $ref: "#/components/schemas/SourceChangedEvent"
      security:
        - CognitoUserPool:
            ["https://api.nva.unit.no/scopes/third-party/approval-upsert", "https://api.nva.unit.no/scopes/backend"]
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaReceiveEventFunction.Arn}/invocations
        responses: {}
        httpMethod: POST
        type: AWS_PROXY
      responses:
        "202":
          description: Notification accepted.
        "400":
          description: >-
            Bad Request - the body is missing or a field is invalid. Every invalid field is listed
            in `errors`, with a JSON pointer to the field.
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/Problem"
        "401":
          description: Unauthorized
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/Problem"
        "403":
          description: Forbidden
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/Problem"
        "404":
          description: Approval not found
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/Problem"
        "415":
          description: Unsupported Media Type
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/Problem"
        "500":
          description: Internal Server Error
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/Problem"
  /{approvalId}/changes:
    get:
      tags:
        - Approval
        - external
      operationId: getApprovalChanges
      summary: Get changes of an approval
      description: >
        Lists the recorded changes to an approval, newest first, 100 per page. An approval without
        changes gives an empty list.
      parameters:
        - name: approvalId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: cursor
          in: query
          required: false
          description: Continues the list from the `next` link of the previous page
          schema:
            type: string
      security:
        - CognitoUserPool:
            ["https://api.nva.unit.no/scopes/third-party/approval-upsert", "https://api.nva.unit.no/scopes/backend"]
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaFetchApprovalChangesFunction.Arn}/invocations
        responses: {}
        httpMethod: POST
        type: AWS_PROXY
      responses:
        "200":
          description: Changes found
          content:
            application/ld+json:
              schema:
                $ref: "#/components/schemas/ChangeList"
            application/json:
              schema:
                $ref: "#/components/schemas/ChangeList"
        "400":
          description: Bad Request. `approvalId` is not a UUID or `cursor` is not a cursor from `next`
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/Problem"
        "401":
          description: Unauthorized
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/Problem"
        "403":
          description: Forbidden
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/Problem"
        "404":
          description: Approval not found
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/Problem"
        "406":
          description: Not Acceptable
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/Problem"
  /{approvalId}:
    get:
      tags:
        - Approval
        - external
      operationId: getApprovalById
      summary: Get Approval
      description: Get approval by ID
      parameters:
        - name: approvalId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaFetchApprovalFunction.Arn}/invocations
        responses: {}
        httpMethod: POST
        type: AWS_PROXY
      responses:
        "200":
          description: Approval found
          content:
            application/ld+json:
              schema:
                $ref: "#/components/schemas/Approval"
            application/json:
              schema:
                $ref: "#/components/schemas/Approval"
            text/html:
              schema:
                type: string
        "400":
          description: >-
            Bad Request - `approvalId` is not a UUID, or query parameters are combined with the
            path parameter. Listed in `errors` with pointer `approvalId`.
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/Problem"
        "404":
          description: Approval not found
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/Problem"
        "406":
          description: Not Acceptable
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/Problem"
        "502":
          description: Bad gateway
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/Problem"
    put:
      tags:
        - Approval
        - external
      operationId: updateApproval
      summary: Update Approval
      description: >
        Replaces the writable state of an existing approval. The submitted identifiers and
        source overwrite the stored values. The handle and the approval identifier are
        assigned on creation and cannot be changed.
      parameters:
        - name: approvalId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      x-amazon-apigateway-request-validator: no_validation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateApprovalRequest"
            examples:
              writableStateOnly:
                summary: Identifiers and source only
                value:
                  identifiers:
                    - type: Identifier
                      name: REK
                      value: "123456"
                    - type: Identifier
                      name: DMP
                      value: dmp-456
                  source: https://example.com/source/12345
              documentFromGet:
                summary: Document returned by GET, submitted unchanged
                value:
                  "@context": https://api.nva.unit.no/approval/context/v1
                  type: Approval
                  id: https://api.nva.unit.no/approval/6ff5f1b5-97c1-40f0-86ad-2cbd9006eee2
                  identifier: 6ff5f1b5-97c1-40f0-86ad-2cbd9006eee2
                  identifiers:
                    - type: Identifier
                      name: REK
                      value: "123456"
                    - type: Identifier
                      name: DMP
                      value: dmp-456
                  source: https://example.com/source/12345
                  handle: https://hdl.handle.net/11250.1/98765
      security:
        - CognitoUserPool:
            ["https://api.nva.unit.no/scopes/third-party/approval-upsert", "https://api.nva.unit.no/scopes/backend"]
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaUpdateApprovalFunction.Arn}/invocations
        responses: {}
        httpMethod: POST
        type: AWS_PROXY
      responses:
        "202":
          description: Approval accepted
          headers:
            Location:
              description: URI of the updated Approval
              schema:
                type: string
                format: uri
            Retry-After:
              description: Number of seconds to wait before checking the approval
              schema:
                type: integer
        "400":
          description: |-
            Bad Request. The request is rejected when:
            * `approvalId` is not a UUID
            * the body is missing or invalid
            * `identifiers` is missing, empty or holds more than 20 identifiers
            * an identifier `name` is missing, longer than 100 characters, or contains anything
              but letters, digits, hyphen and underscore
            * an identifier `value` is missing or longer than 900 bytes when encoded as UTF-8
            * two identifiers share the same name and the same value. Names are compared ignoring
              case and surrounding whitespace, so `DMP` and ` dmp ` count as the same name, while
              values are compared exactly. Two identifiers sharing a name but holding different
              values are allowed
            * `source` is missing or longer than 1024 characters
            * `id` or `identifier` in the body does not address the approval in the request URI

            Every invalid field is listed in `errors`, with a JSON pointer to the field in the
            body, or with pointer `approvalId` for the path parameter. A missing body is reported
            in `detail` only.
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/Problem"
        "401":
          description: Unauthorized - missing or invalid token, or the customer of the authenticated client could not be resolved
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/Problem"
        "403":
          description: Forbidden - one or more identifier names are not allowed for the customer of the client
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/Problem"
        "404":
          description: Approval not found
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/Problem"
        "409":
          description: >-
            Conflict - one or more of the submitted identifiers already belong to another
            approval.
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/Problem"
        "502":
          description: Bad gateway
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/Problem"
  /{approvalId}/changes/{changeId}:
    get:
      tags:
        - Approval
        - external
      operationId: getChange
      summary: Get change
      description: Get one recorded change to an approval.
      parameters:
        - name: approvalId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: changeId
          in: path
          required: true
          schema:
            type: string
      security:
        - CognitoUserPool:
            ["https://api.nva.unit.no/scopes/third-party/approval-upsert", "https://api.nva.unit.no/scopes/backend"]
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaFetchChangeFunction.Arn}/invocations
        responses: {}
        httpMethod: POST
        type: AWS_PROXY
      responses:
        "200":
          description: Change found
          content:
            application/ld+json:
              schema:
                $ref: "#/components/schemas/Change"
            application/json:
              schema:
                $ref: "#/components/schemas/Change"
        "400":
          description: Bad Request.
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/Problem"
        "401":
          description: Unauthorized
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/Problem"
        "403":
          description: Forbidden
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/Problem"
        "404":
          description: Not found
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/Problem"
        "406":
          description: Not Acceptable
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/Problem"
components:
  schemas:
    ApprovalWritableState:
      type: object
      description: Fields that a client may set when creating or replacing an approval.
      required:
        - identifiers
        - source
      properties:
        type:
          type: string
          enum:
            - Approval
          default: Approval
          description: Optional JSON-LD type discriminator.
        identifiers:
          type: array
          minItems: 1
          maxItems: 20
          description: >
            Complete list of named identifiers for the approval. On update, this
            list replaces the stored list.
          items:
            $ref: "#/components/schemas/Identifier"
        source:
          type: string
          format: uri
          maxLength: 1024
          description: URI of the source approval.
    CreateApprovalRequest:
      allOf:
        - $ref: "#/components/schemas/ApprovalWritableState"
      description: >
        Request to create an approval. The server assigns the approval
        identifier and persistent `handle`.

      example:
        type: Approval
        identifiers:
          - type: Identifier
            name: REK
            value: "123456"
          - type: Identifier
            name: DMP
            value: dmp-456
        source: https://example.com/source/12345
    UpdateApprovalRequest:
      allOf:
        - $ref: "#/components/schemas/ApprovalWritableState"
        - type: object
          properties:
            "@context":
              type: string
              format: uri
              description: Server-assigned. Ignored.
            id:
              type: string
              format: uri
              description: >
                Server-assigned. If sent, must address the approval in the path.
            identifier:
              type: string
              format: uuid
              description: >
                Server-assigned. If sent, must equal the `{approvalId}` path parameter.
            handle:
              type: string
              format: uri
              maxLength: 1024
              description: >
                Optional immutable persistent handle URI. Ignored by the update
                operation. This field is accepted to allow a representation returned
                by GET to be submitted unchanged.
      description: >
        Full replacement of an approval's writable state. `identifiers` and
        `source` are required and replace the stored values; omitted writable
        fields are not preserved.

        The server-assigned fields `id`, `identifier`, and `handle` cannot be
        changed. They are optional only to support GET-to-PUT round-tripping.
        When present, `id` and `identifier` are validated against the approval
        being updated. `handle`, `@context` and `type` are ignored.

      example:
        type: Approval
        identifiers:
          - type: Identifier
            name: REK
            value: "123456"
          - type: Identifier
            name: DMP
            value: dmp-456
        source: https://example.com/source/12345
    SourceChangedEvent:
      type: object
      description: >
        CloudEvent (version 1.0, structured JSON mode) telling NVA that the source of an approval
        has changed.
      required:
        - specversion
        - id
        - source
        - type
        - subject
        - time
      properties:
        specversion:
          type: string
          enum:
            - "1.0"
          description: CloudEvents specification version.
        id:
          type: string
          pattern: "^[A-Za-z0-9_=-]{1,128}$"
        source:
          type: string
          format: uri
          maxLength: 1024
          description: The source of the approval
        type:
          type: string
          enum:
            - no.sikt.nva.approval.source.changed
          description: Event type. Only source changes are supported.
        subject:
          type: string
          format: uri
          maxLength: 1024
          description: Handle of the approval whose source has changed.
        time:
          type: string
          format: date-time
          description: Time the change happened, as reported by the sender.
      example:
        specversion: "1.0"
        id: 5c1e2b0a-7f41-4a55-9d0e-3b2f8a61c9d4
        source: https://example.com/source/12345
        type: no.sikt.nva.approval.source.changed
        subject: https://hdl.handle.net/11250.1/98765
        time: "2026-09-28T10:15:30Z"
    ChangeList:
      type: object
      description: A page of recorded changes to an approval, newest first
      properties:
        type:
          type: string
          default: ChangeList
        changes:
          type: array
          items:
            $ref: "#/components/schemas/Change"
        next:
          type: string
          format: uri
          description: The next page. Absent on the last page.
    Change:
      type: object
      description: A recorded change to an approval
      required:
        - type
        - id
        - approval
      properties:
        type:
          type: string
          enum:
            - ApprovalRevision
            - SourceSnapshot
        id:
          type: string
          format: uri
        approval:
          type: string
          format: uri
          description: The approval the change belongs to
    Problem:
      type: object
      description: NVA error reporting object
      required:
        - title
        - detail
        - status
      properties:
        title:
          type: string
          description: Human-readable description of the error status
        detail:
          type: string
          description: A more detailed error message describing the error and potential mitigations
        status:
          type: integer
          description: The HTTP status code associated with the problem
        requestId:
          type: string
          description: Identifier of the request causing the problem
        conflictingKeys:
          type: object
          additionalProperties:
            type: string
          description: >-
            Map of conflicting identifier names and their values (only present on 409 Conflict responses).
            When several conflicting identifiers share the same name, their values are deduplicated,
            sorted and joined with ", ".
        errors:
          type: array
          description: >-
            One entry per broken rule (only present on 400 Bad Request responses caused by
            invalid fields), sorted by pointer and then detail. A field that breaks several rules,
            for example a name that is both too long and contains unsupported characters, has one
            entry per rule.
          items:
            $ref: "#/components/schemas/ValidationError"
    ValidationError:
      type: object
      required:
        - detail
        - pointer
      properties:
        detail:
          type: string
          description: What is wrong with the field
        pointer:
          type: string
          description: >-
            JSON pointer (RFC 6901) to the invalid field in the request body, for example
            `/identifiers/3/value`. For query and path parameters it is the parameter name, for
            example `name` or `approvalId`.
      example:
        detail: Must be at most 900 bytes long in UTF-8
        pointer: /identifiers/3/value
    Approval:
      type: object
      description: An approval for associating a persistent handle identifier with a source URI
      properties:
        "@context":
          type: string
          format: uri
          description: Versioned JSON-LD context URI for this resource
        type:
          type: string
          default: Approval
          description: The type discriminator for this object
        id:
          type: string
          format: uri
          description: The full URI of this approval resource
        identifier:
          type: string
          format: uuid
          description: Unique identifier for this approval
        identifiers:
          type: array
          description: List of identifiers associated with this approval. Each identifier needs to be unique across all approvals.
          items:
            $ref: "#/components/schemas/Identifier"
        source:
          type: string
          format: uri
          description: The source URI that the handle originates from
        handle:
          type: string
          format: uri
          description: The full handle URI (e.g., https://hdl.handle.net/11250.1/12345)
      example:
        "@context": https://api.nva.unit.no/approval/context/v1
        type: Approval
        id: https://api.nva.unit.no/approval/6ff5f1b5-97c1-40f0-86ad-2cbd9006eee2
        identifier: 6ff5f1b5-97c1-40f0-86ad-2cbd9006eee2
        identifiers:
          - type: Identifier
            name: REK
            value: "123456"
        source: https://example.com/source/12345
        handle: https://hdl.handle.net/11250.1/98765
    Identifier:
      type: object
      description: >-
        An identifier that can be used to look up or reference an approval, consisting of a namespace
        (`name`) and a value. A value is unique within its namespace across all approvals, while the
        same value may exist in another namespace.
      required:
        - type
        - name
        - value
      properties:
        type:
          type: string
          default: Identifier
          description: The type discriminator for this object
        name:
          type: string
          maxLength: 100
          pattern: "^\\s*[A-Za-z0-9_-]+\\s*$"
          description: >-
            The namespace the value belongs to (e.g., 'REK', 'DMP'). All values under one name must
            belong to the same identifier space, so that each value could be resolved as
            `<base URI>/<value>`. Use separate names for identifier spaces that can produce the same value.
            Mapped to the ontology term `namespace` in the JSON-LD context.
        value:
          type: string
          maxLength: 900
          description: The identifier value, unique within its namespace. At most 900 bytes when encoded as UTF-8
  parameters:
    ContextVersion:
      name: version
      in: path
      required: true
      description: Version of the JSON-LD context
      schema:
        type: string
        pattern: "^v[0-9]+$"
        example: v1
    OntologyVersion:
      name: version
      in: path
      required: true
      description: Semantic version of the RDF ontology
      schema:
        type: string
        pattern: "^[0-9]+\\.[0-9]+\\.[0-9]+$"
        example: 1.0.0
  responses:
    Context:
      description: JSON-LD context
      headers:
        Content-Location:
          description: URI of the versioned context that was returned
          schema:
            type: string
            format: uri
      content:
        application/ld+json:
          schema:
            type: object
        application/json:
          schema:
            type: object
    Ontology:
      description: RDF ontology in Turtle format
      headers:
        Content-Location:
          description: URI of the versioned ontology that was returned
          schema:
            type: string
            format: uri
      content:
        text/turtle:
          schema:
            type: string
    VersionNotFound:
      description: The requested version does not exist
      content:
        "application/json":
          schema:
            $ref: "#/components/schemas/Problem"
  securitySchemes:
    CognitoUserPool:
      type: apiKey
      name: Authorization
      in: header
      x-amazon-apigateway-authtype: cognito_user_pools
      x-amazon-apigateway-authorizer:
        type: cognito_user_pools
        providerARNs:
          - Ref: CognitoAuthorizerArn
          - Ref: ExternalCognitoAuthorizerArn
