openapi: 3.0.1
info:
  title: NVA Approval API
  version: 1.0.0
x-amazon-apigateway-request-validator: validate_body
x-amazon-apigateway-request-validators:
  validate_body:
    validateRequestBody: true
    validateRequestParameters: false
paths:
  /:
    post:
      summary: Create Approval
      description: Create approval
      parameters:
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            default: application/json
      x-amazon-apigateway-request-validator: validate_body
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApprovalRequest'
      security:
        - CognitoUserPool: [ 'https://api.nva.unit.no/scopes/third-party/approval-upsert', 'https://api.nva.unit.no/scopes/backend' ]
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaCreateApprovalFunction.Arn}/invocations
        responses: { }
        httpMethod: POST
        type: AWS_PROXY
      responses:
        '202':
          description: Approval accepted
          headers:
            Location:
              description: URI of the created Approval
              schema:
                type: string
                format: uri
            Retry-After:
              description: Number of seconds to wait before checking the approval
              schema:
                type: integer
        '400':
          description: Bad Request
          content:
            "application/json":
              schema:
                $ref: '#/components/schemas/Problem'
        '409':
          description: Conflict
          content:
            "application/json":
              schema:
                $ref: '#/components/schemas/Problem'
        '502':
          description: Bad gateway
          content:
            "application/json":
              schema:
                $ref: '#/components/schemas/Problem'
components:
  schemas:
    CreateApprovalRequest:
      type: object
      required:
        - identifiers
        - source
      properties:
        type:
          type: string
          default: Approval
        identifiers:
          type: array
          items:
            $ref: '#/components/schemas/Identifier'
          minItems: 1
          description: List of identifiers for the approval
        source:
          type: string
          format: uri
          description: URI of the source approval
      example:
        type: Approval
        identifiers:
          - type: Identifier
            name: REK
            value: "2024/123"
          - type: Identifier
            name: DMP
            value: "dmp-456"
        source: https://example.com/source/12345
    Identifier:
      type: object
      required:
        - type
        - name
        - value
      properties:
        type:
          type: string
          default: Approval
        name:
          type: string
          description: Name of identifier
        value:
          type: string
          description: Identifier value
    Problem:
      type: object
      description: NVA error reporting object
      required:
        - title
        - detail
        - status
      properties:
        title:
          type: string
          description: Human-readable description of the error status
        detail:
          type: string
          description: A more detailed error message describing the error and potential mitigations
        status:
          type: integer
          description: The HTTP status code associated with the problem
        requestId:
          type: string
          description: Identifier of the request causing the problem
  securitySchemes:
    CognitoUserPool:
      type: apiKey
      name: Authorization
      in: header
      x-amazon-apigateway-authtype: cognito_user_pools
      x-amazon-apigateway-authorizer:
        type: cognito_user_pools
        providerARNs:
          - Ref: CognitoAuthorizerArn
          - Ref: ExternalCognitoAuthorizerArn