openapi: 3.0.1
info:
  title: NVA Approval API
  version: 1.0.0
paths:
  /:
    post:
      description: Create approval
      security:
        - CognitoUserPool: [ 'https://api.nva.unit.no/scopes/third-party/approval-upsert', 'https://api.nva.unit.no/scopes/backend' ]
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaCreateApprovalFunction.Arn}/invocations
        responses: { }
        httpMethod: POST
        type: AWS_PROXY
      responses:
        '202':
          description: Approval accepted
          headers:
            Location:
              description: URI of the created Approval
              schema:
                type: string
                format: uri
            Retry-After:
              description: Number of seconds to wait before checking the approval
              schema:
                type: integer
  /{approvalId}:
    get:
      description: Get approval by ID
      parameters:
        - name: approvalId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaGetApprovalFunction.Arn}/invocations
        responses: { }
        httpMethod: POST
        type: AWS_PROXY
      responses:
        '200':
          description: Approval found
        '400':
          description: Invalid approval ID format and request issues
        '404':
          description: Approval not found
components:
  securitySchemes:
    CognitoUserPool:
      type: apiKey
      name: Authorization
      in: header
      x-amazon-apigateway-authtype: cognito_user_pools
      x-amazon-apigateway-authorizer:
        type: cognito_user_pools
        providerARNs:
          - Ref: CognitoAuthorizerArn
          - Ref: ExternalCognitoAuthorizerArn
